
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Contate-nos</h2>
            <ul class="breadcrumbs-custom-path mt-2">

            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 contact-left pr-lg-4">
                    <div class="partners">
                        <div class="cont-details">
                            <div class="title-content text-left">
                                <h6 class="sub-title">Contate-nos</h6>
                                <h3 class="hny-title">ENTRE EM CONTATO</h3>
                            </div>
                            <p class="mt-3 mb-4 pr-lg-5">
                                Olá, Estamos disponíveis 24 horas por dia, 7 dias por semana, e-mail ou por telefone.
                                Deixe-nos entrar na linha para que possamos conversar mais sobre isso.
                            </p>
                            <h6 class="mb-4">
                                Para mais informações ou perguntas sobre nosso projeto de produtos e preços, por favor, sinta-se à vontade para entrar em contato conosco.
                           
                            </h6>
                        </div>
                        <div class="hours">
                            <h6 class="mt-4">Email:</h6>
                            <p>
                                <a href="mailto:projetofastfruta@outlook.com">
                                    projetofastfruta@outlook.com
                                </a>
                            </p>
                            <h6 class="mt-4">Endereço:</h6>
                            <p> Rua Terezina 75, Presidente Prudente, SP, 19046-230</p>
                            <h6 class="mt-4">Contato:</h6>
                            <p class="margin-top">

                                +55 14 99840-3148 <br>
                                +55 14 99717-0309 <br>
                                +55 18 99824-9529 <br>
                                +55 18 99743-1654
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
               
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923.9129317735838!2d-51.38512287081795!3d-22.13924655686173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f5013b2f7189%3A0x32bef3ee6e68ab25!2sR.%20Teresina%2C%2075%20-%20Vila%20Paulo%20Roberto%2C%20Pres.%20Prudente%20-%20SP%2C%2019046-230!5e0!3m2!1spt-BR!2sbr!4v1616813863623!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>"
    </div>
</section>
<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>